YANDEX_S3_ENDPOINT_URL=https://storage.yandexcloud.net
YANDEX_S3_REGION=ru-central1
YANDEX_S3_BUCKET=ts-project-bucket
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
MODEL_URI=s3://ts-project-bucket/models/production/model.pkl
FEATURE_PIPELINE_URI=s3://ts-project-bucket/models/production/feature_pipeline.pkl
MODEL_METADATA_URI=s3://ts-project-bucket/models/production/model_metadata.json
LOG_LEVEL=INFO
